#venv
/venv/

#test logs
/tests/pytest_cache/*
/helpers/pytest_cache/*
/.pytest_cache/*

#idea
/.idea/*

#test reports & logs
/allure_results/*
/junit_reports/*
/pytest_reports/*
/logs/*
